<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>861402095166-7dm9t4fr131ep5koaolk0cmcb6ac84h6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.861402095166-7dm9t4fr131ep5koaolk0cmcb6ac84h6</string>
	<key>API_KEY</key>
	<string>AIzaSyALRdJgrV7dEeaTZZkNVwQHvyqrZjqRz8s</string>
	<key>GCM_SENDER_ID</key>
	<string>861402095166</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todoListShmr</string>
	<key>PROJECT_ID</key>
	<string>todolistshmr</string>
	<key>STORAGE_BUCKET</key>
	<string>todolistshmr.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:861402095166:ios:56adefe3973e121ead3b6f</string>
</dict>
</plist>